@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

body{
    background-color: #0C1A1E;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 154px;
    background-color: #0E1E22;
    color: white;
    border: 2px #216E80;

}
nav{
    max-width: 100%;
    width: 100%;
    display: inline-flex;
    height: 154px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    
}
a{
  text-decoration: none;
  color: white;
}
.nav-links{
    display: flex;
    width: 80%;
    height: 154px;
    gap: 20px;
    margin-left: auto;
    align-items: center;
    font-size: 24px;
    justify-content: flex-end;
    margin-right: 89px;
    
}
.logo{
  font-size: 26px;
}
.no-dot{
    text-decoration: none;
    list-style: none;
}

main{
  min-height: calc(100vh - 154px);
  display: inline-flex;
  width: 100%;
}
.content1{
width: 33.33333%;
height: 100vh;
display: flex;
justify-content: center;
}

.events{
  height: 361px;
  width: 320px;
  border: 1px solid #646464;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
}
.events-title{
  margin-top: 73px;
}

.content2{
  width: 33.33333%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.matches{
  width: 100%;
  height: 720px;
  border-radius: 5px;
  border: 1px solid #646464;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.match{
  margin-inline: auto;
  background-color: #0F2126;
  width: 85%;
  height: 92px;
  border-radius: 5px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 20px;
  padding-right: 20px;

}
.club{
  width: 40px;
}
.league-name{
  font-size: 24px;
}

.countrys{
  width: 100%;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  gap:4px;
}

.country{
  background-color: #0F2126;
  width: 280px;
  height: 23px;
  display: inline-flex;
  gap:10px;
  padding-left: 10px;
  align-items: center;
  border-radius: 5px;
}

.content3{
    width: 33.33333%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
}

.news{
  width: 320px;
  height: 361px;
  border-radius: 5px;
  border: 1px solid #646464;
  
}

.news-name{
  margin-top: 73px;
}

.news-item{
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin: auto;
}

.price{
  color: green;
  font-weight: bold;
}

.nav-mobile{
  display: none;
  height: 93px;
  border-top: 1px solid #216E80;
  background-color: #0C1A1E;
}

.nav-mobile-items{
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  
}

footer{
  background-color: #0E1E22;
  height: 300px;
  color: white;
  display: inline-flex;
  width: 100%;
  font-size: 24px;

}
.footersection1{
  height: 300px;
  width: 25%;
  text-align: center;
  display: flex;
  padding-top: 48px;
  padding-left: 20px;

}
.active{
  color: #216E80;
}
a:hover{
  color: #216E80;
}
.footersection2{
  display: flex;
  flex-direction: column;
  width: 25%;
  gap:6;
  padding-top: 48px;
}
.footersection3{ 
  display: flex;
  flex-direction: column;
  width: 25%;
  gap:6;
  padding-top: 48px;
}
.footersection4{
  padding: 20px;
  width: 25%;
  text-align: right;
  margin-top: auto;
}
@media only screen and (max-width: 1100px){
  .match{
    height: 15%;
    font-size: 24px;
  }
  .star{
    width: 90px;
  }
  .club{
    width: 60px;
  }
  main{
    min-height: 0;
    height: fit-content;
  }
  .nav-links{
      display: none;
  }
  header{
   display: inline-flex;
   height: 93px;
   background-color: #0C1A1E;
   border-bottom: 1px solid #216E80;
  }
  nav{
    justify-content: center;
    height: 93px;
  }
  footer{
    display: none;
  }
  .content1, .content3{
    display: none;
  }
  .matches{
    border: none;
    margin: auto;
    height: 80%;

  }
  .content2{
    width: 100%;
  }
  .matches{
    width: 82%;
    height: 80vh;
    margin-top: 20px;
    justify-content: flex-start;
  }
  .nav-mobile{
    display: inline-flex;
    position: sticky;
    background-color: #0C1A1E;
    bottom: 0;
    width: 100%;
}
}

@media only screen and (max-width: 900px){
  .star{
    width: 90px;
  }
  .club{
    width: 50px;
  }
  .match{
    font-size: 16px;
  }

}
@media only screen and (max-width: 600px){
  .star{
    width: 50px;
  }
  .club{
    width: 40px;
  }
  .match{
    font-size: 16px;
  }

}


